.graph {
    margin-bottom: 5px;
    font-family: monospace;
    overflow: hidden;
    height: 20px;
}

.graph-title {
    width: 4em;
    float: left;
    height: 20px;
}

.graph-bar {
    background: deepskyblue;
    float: left;
    height: 20px;
    position: relative;
}

.graph-bar-title {
    position: absolute;
    line-height: 20px;
    height: 20px;
    color: #ccc;
}
