.bar {
  margin-bottom: 5px;
  font-family: monospace;
  overflow: hidden;
  height: 20px;
}

.bar-title {
  width: 4em;
  float: left;
  height: 20px;
}

.bar-bar {
  background: deepskyblue;
  float: left;
  height: 20px;
  position: relative;
}

.bar-bar-title {
  position: absolute;
  line-height: 20px;
  height: 20px;
  color: #ccc;
  white-space: nowrap;
}

.bar-bar.highlighted {
  background: greenyellow;
}
