.input {
  width: 100%;
  font-size: 20px;
  line-height: 35px;
  padding-left: 8px;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-left: -10px;
}

.input:focus {
  outline: none;
  border-color: #999;
}

.name {
  line-height: 32px;
  font-size: 16px;
  color: #999;
}
