body, input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: white;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: darkslateblue;
}

.wrap {
  margin: 16px;
}

.aside {
  width: 200px;
  position: fixed;
}


.main {
  margin-left: 220px;
}


.header {
  margin-bottom: 10px;
  text-align: left;
  font-size: 20px;
}
